* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

.container {
  width: 90%;
  margin: 0 auto;
}

.navbar {
  padding: 25px 0;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
}
.navbar .menu a {
  text-decoration: none;
  color: inherit;
}

.header {
  margin-top: 100px;
}

.header .main-title {
  font-weight: 700;
  font-size: 72px;
  line-height: 125%;
  letter-spacing: 0em;
  color: #1f1f1f;
}

.header .header-grid {
  margin-top: 45px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.header .header-circle {
  width: 32px;
  height: 32px;
  background: #c4c4c4;
  border-radius: 50%;
  position: relative;
  top: -20px;
}

.recent {
  margin-top: 200px;
}

.recent .recent-title {
  font-weight: 400;
  font-size: 58px;
  line-height: 125%;
  letter-spacing: 0em;
  color: #1f1f1f;
}

.recent .recent-main {
  margin-top: 45px;
  display: flex;
  gap: 80px;
  justify-content: space-between;
}

.recent .recent-main .col {
  display: flex;
  flex-direction: column;
  width: 45%;
  gap: 65px;
}

.recent .card img {
  width: 100%;
}

.recent .card-line{
  margin-top: 20px;
}

.recent .card-title {
  margin-top: 10px;
  font-weight: 400;
  font-size: 23px;
  line-height: 146%;
  letter-spacing: 0.01em;
  color: #464542;
}
.recent .card-subtitle {
  margin-top: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #6d6b67;
}
