@media(max-width: 1080px){
  
.header .main-title {
  font-size: 64px;
}
.clients .clients-grid {
  column-gap: 60px;
  row-gap: 30px;
}
}

@media(max-width: 850px){
  
.header .main-title {
  font-size: 54px;
}
.recent .recent-title {
  font-size: 44px;
}
.recent .recent-main {
  gap: 20px;
}
.recent .recent-main .col {
  width: 48%;
}
.growing .container {
  flex-direction: column;
}
.growing .growing-left {
  width: 100%;
}
.growing .growing-right {
  width: 100%;
}
.clients .clients-grid {
  grid-template-columns: repeat(3, 1fr);
}
.footer .footer-top{
 grid-template-columns: repeat(3, 1fr);
}
.footer .footer-box{
  grid-column: 1/5;
}
}



@media(max-width: 700px){
  .navbar .menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.875);
    flex-direction: column;
    width: 300px;
    padding-top: 40px;
    color: white;
    transform: translateX(-100%);
  }

  .navbar .menu li a {
    color: white;
  }
  
  .burger-menu{
    display: block;
  }

  .header .main-title {
    font-size: 44px;
  }
  .header .header-grid {
    grid-template-columns: 1fr 1fr;
  }
  .header .header-circle {
    display: none;
  }
  .clients .clients-grid {
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 20px;
  }
  .footer .footer-bootom{
    flex-wrap: wrap;
    gap: 20px;
  }
}

@media(max-width: 500px){
  .header .header-grid {
    grid-template-columns: 1fr;
  }
  .recent .recent-main {
    flex-direction: column;
  }
  .recent .recent-main .col {
    width: 100%;
  }
  .recent .recent-title {
    font-size: 32px;
  }
  .ready .ready-wrapper {
    flex-direction: column;
    gap: 20px;
  }
  .footer .footer-top{
    grid-template-columns: 1fr;
   }
   .footer .footer-box{
     grid-column: 1/2;
   }
   .footer-top .list{
    text-align: center;
   }
}